# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db
Desktop.ini
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment / Secret variables
.env
.env.*
!.env.example

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
.fvm/

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
**/android/key.properties
**/android/captures/
**/android/.gradle/
**/android/.cxx/
local.properties
key.properties
*.keystore
*.jks
*.apk
*.aab

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/
*.suo
*.user
*.userosscache
*.sln.docstates

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Widget Preview related
.widget_preview/

